/bin
/build
/data/images
/platform/windows/include/boost
/platform/windows/lib/libboost*
/ipch
*.sdf
*.opensdf
*.suo
*.user
*.log
*.settings
*.suppress
*.gch
*.plist
*.exe
.vs
My*
*sublime*
Thumbs.db
.directory
.DS_Store
Raycer.app
