<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Raycer</string>
	<key>CFBundleDisplayName</key>
	<string>Raycer</string>
	<key>CFBundleIdentifier</key>
	<string>com.raycer.Raycer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Raycer</string>
	<key>CFBundleIconFile</key>
	<string>raycer.icns</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Mikko Ronkainen</string>
</dict>
</plist>
